name: build plugins

on:
  push:
    tags: 'plugins*'
    paths: 'CA.LoopControlPluginBase*/**'
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths: 'CA.LoopControlPluginBase*/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0'
    - name: Restore dependencies
      run: dotnet restore CA.LoopControlPluginBase.Tests
    - name: Build
      run: dotnet build CA.LoopControlPluginBase.Tests -c Release --no-restore
    - name: Test
      run: dotnet test CA.LoopControlPluginBase.Tests -c Release --no-build --verbosity normal
    - name: Pack CA.LoopControlPluginBase
      run: dotnet pack CA.LoopControlPluginBase -c Release -o out
    - name: make generated nuget packages available as workflow artifacts too
      uses: actions/upload-artifact@v4
      with:
        name: nugetpackages
        path: out
    - name: Push generated package to nuget
      if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/master') || startsWith(github.ref, 'refs/tags') }}
      run: dotnet nuget push out/*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.CA_NUGET_PACKAGES_KEY }}

